//  _global.scss

// Colors
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;

// New defined colors
$post-target-text-color: #4A4A4A;
$post-target-emph-color: #67B54B;
$post-target-sec-color: #979797;

/** Fuentes */
$font-title: "Alegreya", serif;

%base-title {
    font-family: $font-title;
    color: $dark-green-text;
}

